@page "/fetchdata"
@using BlazorDevIta.ERP.Shared
@using BlazorDevIta.UI.Shared
@inject IDataServices DataServices

<PageTitle>Weather forecast</PageTitle>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (currentForecast == null)
    {
        <Grid Forecasts="forecasts" OnCreate="Create" OnEdit="Edit" OnDelete="Delete" />
    }
    else
    {
        <Details CurrentItem="currentForecast" OnCancel="Cancel" OnSave="Save" />
    }

}

@code {
    private List<WeatherForecastListItem?>? forecasts = null;
    private WeatherForecastDetails? currentForecast = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await DataServices.GetWeatherForecastsAsync();
    }

    private void Create()
    {
        currentForecast = new WeatherForecastDetails();
    }

    private async Task Edit(WeatherForecastListItem forecast)
    {
        currentForecast = await DataServices.GetWeatherForecastByIdAsync(forecast.Id);
    }

    private void Save(WeatherForecastDetails forecast)
    {
        // forecasts!.Add(forecast);
        currentForecast = null;
    }


    private void Delete(WeatherForecastListItem forecast)
    {
        forecasts?.Remove(forecast);
    }

    private void Cancel()
    {
        currentForecast = null;
    }
}
