@page "/fetchdata"
@using BlazorDevIta.ERP.Shared
@using BlazorDevIta.UI.Shared
@inject IDataServices DataServices

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid Forecasts="forecasts" OnEdit="Edit" OnDelete="Delete" />

    @if (currentForecast != null)
    {
        <Details CurrentItem="currentForecast" />
    }

}

@code {
    private List<WeatherForecast?>? forecasts = null;
    private WeatherForecast? currentForecast = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await DataServices.GetWeatherForecastsAsync();
    }

    private void Edit(WeatherForecast forecast)
    {
        currentForecast = forecast;
    }

    private void Delete(WeatherForecast forecast)
    {
        forecasts?.Remove(forecast);
    }
}
