@page "/fetchdata"
@using BlazorDevIta.ERP.Shared
@using BlazorDevIta.UI.Shared
@inject IDataServices DataServices

<PageTitle>Weather forecast</PageTitle>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (currentForecast == null)
    {
        <Grid Forecasts="forecasts" OnCreate="Create" OnEdit="Edit" OnDelete="Delete" />
    }
    else
    {
        <Details CurrentItem="currentForecast" OnCancel="Cancel" OnSave="Save" />
    }

}

@code {
    private List<WeatherForecast?>? forecasts = null;
    private WeatherForecast? currentForecast = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await DataServices.GetWeatherForecastsAsync();
    }

    private void Create()
    {
        currentForecast = new WeatherForecast();
    }

    private void Edit(WeatherForecast forecast)
    {
        currentForecast = forecast;
    }

    private void Save(WeatherForecast forecast)
    {
        forecasts!.Add(forecast);
        currentForecast = null;
    }


    private void Delete(WeatherForecast forecast)
    {
        forecasts?.Remove(forecast);
    }

    private void Cancel()
    {
        currentForecast = null;
    }
}
