@page "/fetchdata"
@using BlazorDevIta.ERP.Shared
@using BlazorDevIta.UI.Shared
@inherits BaseCRUDPage<WeatherForecastListItem, WeatherForecastDetails, int>

<PageTitle>Weather forecast</PageTitle>

@if (page == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (currentItem == null)
    {
        <Grid IdType="int"
            GridItemType="WeatherForecastListItem" 
            Page="page" OnPageRequest="RefreshData"
            OnCreate="Create" OnEdit="Edit" OnDelete="Delete" />
    }
    else
    {
        <Details HeaderPropertyName="Summary" DetailsType="WeatherForecastDetails" 
            Item="currentItem" OnCancel="Cancel" OnSave="Save">
            <Fields Context="weather">
                <TextBox Label="Summary" @bind-Value="weather!.Summary" />
                <DateBox Label="Date" @bind-Value="weather.Date" />
                <IntegerBox Label="Temperature C" @bind-Value="weather.TemperatureC" />
            </Fields>
        </Details>
    }

}