@inject IConfirmService ConfirmService;
    
<div id="@ConfirmId" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="OnCancel" data-bs-dismiss="modal">@CancelLabel</button>
        <button type="button" class="btn btn-primary" @onclick="OnConfirm" >@ConfirmLabel</button>
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public string ConfirmId { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public string Title { get; set; } = "Confirm";

    [Parameter]
    public string Message { get; set; } = "Are you sure?";

    [Parameter]
    public string CancelLabel { get; set; } = "Cancel";

    [Parameter]
    public string ConfirmLabel { get; set; } = "Ok";

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback OnConfirm { get; set; }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            if(ConfirmService is not null)
                await ConfirmService.Init();
        }
    }

   

}
