@inject NavigationManager NavManager
@using System.Globalization
<select class="form-control" @bind="Culture" style="width:100px; margin-left:10px;">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>